<h1>1. Import Dataset</h1>

In [ ]:
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1JVZLOn1BJ7oKwMTaAgk4aM8tEAZsqpWI' -O MoCapHandPostures.csv

--2023-08-02 06:09:05--  https://docs.google.com/uc?export=download&id=1JVZLOn1BJ7oKwMTaAgk4aM8tEAZsqpWI
Resolving docs.google.com (docs.google.com)... 142.250.159.102, 142.250.159.113, 142.250.159.101, ...
Connecting to docs.google.com (docs.google.com)|142.250.159.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-04-5c-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/ulq8n4bpup9v29s2lvtjog30jml9lqnm/1690956525000/07590719626580236638/*/1JVZLOn1BJ7oKwMTaAgk4aM8tEAZsqpWI?e=download&uuid=e7b66849-e390-42fe-88e7-4ca5ae83ef75 [following]
Warning: wildcards not supported in HTTP.
--2023-08-02 06:09:07--  https://doc-04-5c-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/ulq8n4bpup9v29s2lvtjog30jml9lqnm/1690956525000/07590719626580236638/*/1JVZLOn1BJ7oKwMTaAgk4aM8tEAZsqpWI?e=download&uuid=e7b66849-e390-42fe-88e7-4ca5ae83ef75
Resolving doc-04-5c-docs.googleusercontent.com (doc-04-5c-docs.googleusercontent.com)... 142.251.172.132, 2607:f8b0:4001:c61::84
Connecting to doc-04-5c-docs.googleusercontent.com (doc-04-5c-docs.googleusercontent.com)|142.251.172.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33961749 (32M) [text/csv]
Saving to: ‘MoCapHandPostures.csv’

MoCapHandPostures.c 100%[===================>]  32.39M  67.2MB/s    in 0.5s

2023-08-02 06:09:08 (67.2 MB/s) - ‘MoCapHandPostures.csv’ saved [33961749/33961749]

In [ ]:
import pandas as pd
import numpy as np
import statistics

In [ ]:
data = pd.read_csv('MoCapHandPostures.csv')
data = data.iloc[1: , :]

In [ ]:
data

,Class,User,X0,Y0,Z0,X1,Y1,Z1,X2,Y2,...,Z8,X9,Y9,Z9,X10,Y10,Z10,X11,Y11,Z11
1,1,0,54.263880,71.466776,-64.807709,76.895635,42.462500,-72.780545,36.621229,81.680557,...,?,?,?,?,?,?,?,?,?,?
2,1,0,56.527558,72.266609,-61.935252,39.135978,82.538530,-49.596509,79.223743,43.254091,...,?,?,?,?,?,?,?,?,?,?
3,1,0,55.849928,72.469064,-62.562788,37.988804,82.631347,-50.606259,78.451526,43.567403,...,?,?,?,?,?,?,?,?,?,?
4,1,0,55.329647,71.707275,-63.688956,36.561863,81.868749,-52.752784,86.320630,68.214645,...,?,?,?,?,?,?,?,?,?,?
5,1,0,55.142401,71.435607,-64.177303,36.175818,81.556874,-53.475747,76.986143,42.426849,...,?,?,?,?,?,?,?,?,?,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78091,5,14,54.251127,129.177414,-44.252511,27.720784,107.810661,11.099282,-1.270139,122.758679,...,-6.54311453354464,87.7333643096221,61.2163626180662,-62.1262783028233,?,?,?,?,?,?
78092,5,14,54.334883,129.253842,-44.016320,27.767911,107.914808,11.069842,-30.334054,77.858214,...,-62.1305625712145,78.2298473919132,33.0784071753174,-45.2495433686171,?,?,?,?,?,?
78093,5,14,54.151540,129.269502,-44.173273,27.725978,108.034006,11.020347,-22.574718,104.222208,...,3.83590370588782,78.591554010542,32.32773753847,-46.1665560916632,?,?,?,?,?,?
78094,5,14,27.915311,108.007390,10.814957,-0.910435,122.464093,-47.271248,-30.084588,77.705861,...,-63.2216259324485,?,?,?,?,?,?,?,?,?
78095,5,14,27.898705,108.092877,11.107857,-30.031402,77.740235,-17.453099,-1.091566,122.827638,...,-63.0265744155222,78.8796525666014,31.6030997578398,-47.0137357205196,?,?,?,?,?,?

<h1>2. Imputasi Missing Value</h1>

In [ ]:
data = data.replace('?',np.nan)

In [ ]:
data

,Class,User,X0,Y0,Z0,X1,Y1,Z1,X2,Y2,...,Z8,X9,Y9,Z9,X10,Y10,Z10,X11,Y11,Z11
1,1,0,54.263880,71.466776,-64.807709,76.895635,42.462500,-72.780545,36.621229,81.680557,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0,56.527558,72.266609,-61.935252,39.135978,82.538530,-49.596509,79.223743,43.254091,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0,55.849928,72.469064,-62.562788,37.988804,82.631347,-50.606259,78.451526,43.567403,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,0,55.329647,71.707275,-63.688956,36.561863,81.868749,-52.752784,86.320630,68.214645,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,0,55.142401,71.435607,-64.177303,36.175818,81.556874,-53.475747,76.986143,42.426849,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78091,5,14,54.251127,129.177414,-44.252511,27.720784,107.810661,11.099282,-1.270139,122.758679,...,-6.54311453354464,87.7333643096221,61.2163626180662,-62.1262783028233,NaN,NaN,NaN,NaN,NaN,NaN
78092,5,14,54.334883,129.253842,-44.016320,27.767911,107.914808,11.069842,-30.334054,77.858214,...,-62.1305625712145,78.2298473919132,33.0784071753174,-45.2495433686171,NaN,NaN,NaN,NaN,NaN,NaN
78093,5,14,54.151540,129.269502,-44.173273,27.725978,108.034006,11.020347,-22.574718,104.222208,...,3.83590370588782,78.591554010542,32.32773753847,-46.1665560916632,NaN,NaN,NaN,NaN,NaN,NaN
78094,5,14,27.915311,108.007390,10.814957,-0.910435,122.464093,-47.271248,-30.084588,77.705861,...,-63.2216259324485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78095,5,14,27.898705,108.092877,11.107857,-30.031402,77.740235,-17.453099,-1.091566,122.827638,...,-63.0265744155222,78.8796525666014,31.6030997578398,-47.0137357205196,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import random
def imputasi(df_input):
  list_columns = df_input.columns[2:]
  class_columns = df_input.columns[0]
  df_input.dropna(thresh=11, axis=1)
  for column in list_columns:
    df_input[column] = pd.to_numeric(df_input[column])
    val = df_input.groupby(class_columns)[column]
    df_input[column] = df_input[column].fillna(value=val.transform('mean'))
  if df_input.isnull().any().any():
    for column in list_columns:
      val = df_input.groupby('User')[column]
      df_input[column] = df_input[column].fillna(value=val.transform('mean'))
  return df_input

In [ ]:
data_impu = imputasi(data)

In [ ]:
data_impu

,Class,User,X0,Y0,Z0,X1,Y1,Z1,X2,Y2,...,Z8,X9,Y9,Z9,X10,Y10,Z10,X11,Y11,Z11
1,1,0,54.263880,71.466776,-64.807709,76.895635,42.462500,-72.780545,36.621229,81.680557,...,-1.077380,37.172842,87.562493,-10.663720,54.057026,76.311915,-27.775952,-29.697613,25.963332,1.697312
2,1,0,56.527558,72.266609,-61.935252,39.135978,82.538530,-49.596509,79.223743,43.254091,...,-1.077380,37.172842,87.562493,-10.663720,54.057026,76.311915,-27.775952,-29.697613,25.963332,1.697312
3,1,0,55.849928,72.469064,-62.562788,37.988804,82.631347,-50.606259,78.451526,43.567403,...,-1.077380,37.172842,87.562493,-10.663720,54.057026,76.311915,-27.775952,-29.697613,25.963332,1.697312
4,1,0,55.329647,71.707275,-63.688956,36.561863,81.868749,-52.752784,86.320630,68.214645,...,-1.077380,37.172842,87.562493,-10.663720,54.057026,76.311915,-27.775952,-29.697613,25.963332,1.697312
5,1,0,55.142401,71.435607,-64.177303,36.175818,81.556874,-53.475747,76.986143,42.426849,...,-1.077380,37.172842,87.562493,-10.663720,54.057026,76.311915,-27.775952,-29.697613,25.963332,1.697312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78091,5,14,54.251127,129.177414,-44.252511,27.720784,107.810661,11.099282,-1.270139,122.758679,...,-6.543115,87.733364,61.216363,-62.126278,57.027873,85.807738,-32.768163,-29.697613,25.963332,1.697312
78092,5,14,54.334883,129.253842,-44.016320,27.767911,107.914808,11.069842,-30.334054,77.858214,...,-62.130563,78.229847,33.078407,-45.249543,57.027873,85.807738,-32.768163,-29.697613,25.963332,1.697312
78093,5,14,54.151540,129.269502,-44.173273,27.725978,108.034006,11.020347,-22.574718,104.222208,...,3.835904,78.591554,32.327738,-46.166556,57.027873,85.807738,-32.768163,-29.697613,25.963332,1.697312
78094,5,14,27.915311,108.007390,10.814957,-0.910435,122.464093,-47.271248,-30.084588,77.705861,...,-63.221626,50.793322,91.949619,-30.884241,57.027873,85.807738,-32.768163,-29.697613,25.963332,1.697312
78095,5,14,27.898705,108.092877,11.107857,-30.031402,77.740235,-17.453099,-1.091566,122.827638,...,-63.026574,78.879653,31.603100,-47.013736,57.027873,85.807738,-32.768163,-29.697613,25.963332,1.697312

In [ ]:
data_impu = data_impu.drop(columns=['User'])

In [ ]:
def minmax(df_input):
  list_fitur = df_input.columns[1:]
  for fitur in list_fitur:
    grouper = df_input.groupby('Class')[fitur]
    maxes = grouper.transform('max')
    mins = grouper.transform('min')
    df_input = df_input.assign(fitur=(df_input[fitur] - mins)/(maxes - mins))
  #df_input = df_input.groupby('Class').transform(lambda x: (x - x.min()) / x.max()- x.min())
  #for fitur in list_fitur:
    #max = df_input.groupby('Class')[fitur].max()
    #min = df_input.groupby('Class')[fitur].min()
    #df_input[fitur] = (df_input[fitur]-min)/(max-min)
  return df_input

<h1>3. Pemisahan Data Latih</h1>

In [ ]:
from sklearn.model_selection import train_test_split

train70, test30 = train_test_split(data_impu, test_size=0.3)
train80, test20 = train_test_split(data_impu, test_size=0.2)

trNom70 = minmax(train70)
trNom80 = minmax(train80)
teNom30 = minmax(test30)
teNom20 = minmax(test20)

In [ ]:
from scipy import stats as s
class voteELM:
  W = []
  beta = []
  mape = []

  def __fitELM(self,train,h,b1,b2):
    t = train['Class']
    t = np.stack(t.values)
    train = train.drop(columns=['Class'])
    d = len(train.columns)
    X = train.values
    W = np.random.uniform(b1,b2, (h,d))
    Hinit = X @ W.T
    H = 1/(1+np.exp(-1*Hinit))
    Hplus = np.linalg.inv(H.T @ H) @ H.T
    beta = Hplus @ t
    y = H @ beta
    return W, beta, t, y

  def fit(self,train,k=5,h=4,b1=-0.5,b2=0.5):
    for i in range(k):
      wf, bf, tf, yf = self.__fitELM(train,h,b1,b2)
      self.W.append(wf)
      self.beta.append(bf)
      MAPE = sum(abs(yf-tf)/yf)*1/len(tf)
      self.mape.append(MAPE)

  def test(self,test):
    t = test['Class']
    t = np.stack(t.values)
    y = []
    yt = []
    vote = []
    Xt = test.drop(columns=['Class'])
    Xt = Xt.values

    for idx,e in enumerate(self.W):
      Hinit = Xt @ e.T
      H = 1/(1+np.exp(-1*Hinit))
      yt = H @ self.beta[idx]
      yt = np.around(yt)
      y.append(yt)

    yt = list(zip(*y))

    pred = []
    for x in yt:
      mode = int(s.mode(x)[0])
      pred.append(mode)
    return pred

In [ ]:
import time

model = voteELM()
model1 = voteELM()

st1 = time.time()
model.fit(trNom80,5,500)
et1 = time.time()

st2 = time.time()
model1.fit(trNom70,5,500)
et2 = time.time()

pred = model.test(teNom20)
pred1 = model1.test(teNom30)

<ipython-input-14-02a16a6c810a>:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = int(s.mode(x)[0])
<ipython-input-14-02a16a6c810a>:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = int(s.mode(x)[0])

In [ ]:
from sklearn.metrics import accuracy_score

y_test = teNom20['Class'].tolist()
y_test1 = teNom30['Class'].tolist()

print("Akurasi V-ELM dengan rasio pelatihan 80:20 : ",accuracy_score(y_test,pred))
print("Akurasi V-ELM dengan rasio pelatihan 70:30 : ",accuracy_score(y_test1,pred1))
print("Waktu Pelatihan V-ELM dengan rasio pelatihan 80:20 : ",et1-st1)
print("Waktu Pelatihan V-ELM dengan rasio pelatihan 70:30 : ",et2-st2)
print("Nilai MAPE pada Pelatihan 80:20 : ", model.mape[:5])
print("Nilai MAPE pada Pelatihan 70:30 : ", model1.mape[5:])

Akurasi V-ELM dengan rasio pelatihan 80:20 :  0.615660413598822
Akurasi V-ELM dengan rasio pelatihan 70:30 :  0.6119766101839601
Waktu Pelatihan V-ELM dengan rasio pelatihan 80:20 :  15.844164609909058
Waktu Pelatihan V-ELM dengan rasio pelatihan 70:30 :  14.762497425079346
Nilai MAPE pada Pelatihan 80:20 :  [0.24149344539444917, 0.23489746367239553, 0.2319417122857419, 0.21667234169943092, 0.2141022776585014]
Nilai MAPE pada Pelatihan 70:30 :  [0.28229316252088354, 0.2413669358604659, 0.23360497552094775, 0.2513853299747013, 0.22891524507410801]